.shah {
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 40%;
  align-items: center;
}
#exampleSearch {
  border-radius: 7px;
  border: none;
  height: 20px;
  margin-left: 30px;
}
.hi {
  margin-left: -15%;
}
