.sider-section {
  width: 250px;
  background-color: rgb(31, 2, 59);
  color: #fff;
  margin-top: -7px;
}
.headcontent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-left: 10px;
  padding-top: 16px;
  padding-bottom: 20px;
}

.icon {
  width: 25px;
  height: 20px;
}
.sidearrowicon {
  margin-left: auto;
  margin-right: 20px;
}
.subcontent {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: initial;
  gap: 30px;
  margin-left: 10px;
  cursor: pointer;
}
.details p {
  margin-top: -5px;
  font-size: 13px;
}
.subcontent2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-top: 65%;
  padding-bottom: 16px;
  margin-left: 10px;
  cursor: pointer;
}
